resources/smartmeter-node-red.json
[{"id":"bd840061.bcc87","type":"tab","label":"Smartmeter","disabled":false,"info":""},{"id":"8a9c6472.e48c78","type":"mqtt in","z":"bd840061.bcc87","name":"","topic":"smartmeter/state","qos":"2","datatype":"auto","broker":"4e0c1f2c.f3bf68","x":320,"y":340,"wires":[["1e91c63a.7dad3a","e9af8d3f.b5e11"]]},{"id":"1e91c63a.7dad3a","type":"debug","z":"bd840061.bcc87","name":"msg string","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":260,"wires":[]},{"id":"e9af8d3f.b5e11","type":"json","z":"bd840061.bcc87","name":"","property":"payload","action":"","pretty":false,"x":570,"y":340,"wires":[["f8c97dd3.4edb6","1fb16c67.78effc"]]},{"id":"f8c97dd3.4edb6","type":"debug","z":"bd840061.bcc87","name":"msg object","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":260,"wires":[]},{"id":"1fb16c67.78effc","type":"influxdb out","z":"bd840061.bcc87","influxdb":"4ecc18c5.e960a","name":"","measurement":"state","precision":"","retentionPolicy":"","x":910,"y":340,"wires":[]},{"id":"4e0c1f2c.f3bf68","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4ecc18c5.e960a","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"smartmeter","name":"","usetls":false,"tls":""}]