resources/nodejs/node-red-flow.json
[
    {
        "id": "c1b1674c.236a7",
        "type": "tab",
        "label": "Smartmeter",
        "disabled": false,
        "info": ""
    },
    {
        "id": "350ff032.fdde3",
        "type": "mqtt in",
        "z": "c1b1674c.236a7",
        "name": "",
        "topic": "smartmeter/live",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6a5d94ab.0cb614",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 180,
        "y": 160,
        "wires": [
            [
                "43edcfca.df5c08",
                "f524205f.4750e"
            ]
        ]
    },
    {
        "id": "43edcfca.df5c08",
        "type": "debug",
        "z": "c1b1674c.236a7",
        "name": "Smartmeter",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "db6a7a09.274d8",
        "type": "debug",
        "z": "c1b1674c.236a7",
        "name": "Postgres",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 80,
        "wires": []
    },
    {
        "id": "f524205f.4750e",
        "type": "function",
        "z": "c1b1674c.236a7",
        "name": "query",
        "func": "msg.payload[0].time = new Date(msg.payload[0].time).toISOString();\nmsg.payload[0].status = \"\\\\x\" + msg.payload[0].status;\nconst values = Object.values(msg.payload[0]);\n\nmsg.query = {\n    text: \"INSERT INTO live (sensor_id, lifetime, energy, power, power_l1, power_l2, power_l3, voltage_l1, voltage_l2, voltage_l3, status, plan_id, time) VALUES (1, $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, (SELECT id FROM plan WHERE rate = $11 AND price = $12), $13);\",\n    values: values\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 160,
        "wires": [
            [
                "db6a7a09.274d8",
                "1b067879.dc6bf"
            ]
        ]
    },
    {
        "id": "1b067879.dc6bf",
        "type": "digitaloak-postgresql-query",
        "z": "c1b1674c.236a7",
        "name": "",
        "server": "dd6d8795.d33bd8",
        "inputs": 1,
        "outputs": 0,
        "x": 970,
        "y": 160,
        "wires": []
    },
    {
        "id": "b365b90235353893",
        "type": "inject",
        "z": "c1b1674c.236a7",
        "name": "",
        "props": [
            {
                "p": "query",
                "v": "with cte1 as (SELECT   last(energy, time) - first(energy, time) AS energy_today  FROM live  WHERE    time > date_trunc('day', NOW()) ), cte2 as (SELECT   energy AS energy_year, bill AS bill_year FROM yearly_view   ORDER BY bucket_1y  DESC LIMIT 1 ), cte3 as (SELECT   energy_percent, bill_percent  FROM get_electricity_trend() ) SELECT * FROM cte1, cte2, cte3;",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "smartmeter/queries",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "be619b4d6d1256fc"
            ]
        ]
    },
    {
        "id": "be619b4d6d1256fc",
        "type": "digitaloak-postgresql-query",
        "z": "c1b1674c.236a7",
        "name": "",
        "server": "dd6d8795.d33bd8",
        "inputs": 1,
        "outputs": 1,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "217289b56a6552ac",
                "387d512aa0895928"
            ]
        ]
    },
    {
        "id": "217289b56a6552ac",
        "type": "debug",
        "z": "c1b1674c.236a7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "ad95088765d5d964",
        "type": "mqtt out",
        "z": "c1b1674c.236a7",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "6a5d94ab.0cb614",
        "x": 950,
        "y": 360,
        "wires": []
    },
    {
        "id": "e67d9849bbc50cd0",
        "type": "debug",
        "z": "c1b1674c.236a7",
        "name": "payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 280,
        "wires": []
    },
    {
        "id": "387d512aa0895928",
        "type": "function",
        "z": "c1b1674c.236a7",
        "name": "json",
        "func": "msg.payload = { \n    \"energy_today\": msg.payload.rows[0].energy_today,\n    \"energy_year\": msg.payload.rows[0].energy_year,\n    \"energy_trend\": msg.payload.rows[0].energy_percent * 0.01,\n    \"bill_year\": msg.payload.rows[0].bill_year,\n    \"bill_trend\": msg.payload.rows[0].bill_percent * 0.01\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 360,
        "wires": [
            [
                "ad95088765d5d964",
                "e67d9849bbc50cd0"
            ]
        ]
    },
    {
        "id": "6a5d94ab.0cb614",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dd6d8795.d33bd8",
        "type": "digitaloak-postgresql-connection-manager",
        "name": "localhost:5432/smartmeter",
        "host": "localhost",
        "port": "5432",
        "database": "smartmeter",
        "tls": "",
        "use_tls": false,
        "pool_max_clients": "10",
        "pool_client_max_idle": "10000",
        "client_query_timeout": "",
        "client_statement_timeout": "",
        "client_connection_timeout_millis": "",
        "is_client_enabled": "1"
    }
]