resources/nodejs/node-red-flow.json
[{"id":"c1b1674c.236a7","type":"tab","label":"Smartmeter","disabled":false,"info":""},{"id":"350ff032.fdde3","type":"mqtt in","z":"c1b1674c.236a7","name":"","topic":"smartmeter/state","qos":"2","datatype":"auto","broker":"6afada7d.a0881c","x":140,"y":360,"wires":[["43edcfca.df5c08","fbc11bf4.7bca7"]]},{"id":"43edcfca.df5c08","type":"debug","z":"c1b1674c.236a7","name":"msg string","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":280,"wires":[]},{"id":"fbc11bf4.7bca7","type":"json","z":"c1b1674c.236a7","name":"","property":"payload","action":"","pretty":false,"x":370,"y":360,"wires":[["a217e8a9.496508","f524205f.4750e"]]},{"id":"a217e8a9.496508","type":"debug","z":"c1b1674c.236a7","name":"msg object","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":280,"wires":[]},{"id":"db6a7a09.274d8","type":"debug","z":"c1b1674c.236a7","name":"msg transform","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":280,"wires":[]},{"id":"f524205f.4750e","type":"function","z":"c1b1674c.236a7","name":"","func":"msg.payload[0].time = new Date(msg.payload[0].time).toISOString();\nmsg.payload[0].status = \"\\\\x\" + msg.payload[0].status;\nconst values = Object.values(msg.payload[0]);\n\nmsg.query = {\n    text: \"INSERT INTO live (sensor_id, lifetime, energy, power, power_l1, power_l2, power_l3, voltage_l1, voltage_l2, voltage_l3, status, plan_id, time) VALUES (1, $1, $2, $3, $4, $5, $6, $7, $8, $9, $10, (SELECT id FROM plan WHERE rate = $11 AND price = $12), $13);\",\n    values: values\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":360,"wires":[["db6a7a09.274d8","1b067879.dc6bf"]]},{"id":"1b067879.dc6bf","type":"digitaloak-postgresql-query","z":"c1b1674c.236a7","name":"","server":"dd6d8795.d33bd8","inputs":1,"outputs":0,"x":930,"y":360,"wires":[]},{"id":"6afada7d.a0881c","type":"mqtt-broker","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dd6d8795.d33bd8","type":"digitaloak-postgresql-connection-manager","name":"localhost:5432/smartmeter","host":"localhost","port":"5432","database":"smartmeter","tls":"","use_tls":false,"pool_max_clients":"10","pool_client_max_idle":"10000","client_query_timeout":"","client_statement_timeout":"","client_connection_timeout_millis":"","is_client_enabled":"1"}]